<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentArgs" version="0.9.7" targetFramework="net472" />
  <package id="Microsoft.PowerShell.5.ReferenceAssemblies" version="1.1.0" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="net472" />
  <package id="xunit.abstractions" version="2.0.3" targetFramework="net472" />
  <package id="xunit.runner.utility" version="2.4.1" targetFramework="net472" />
</packages>